@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: inter;
    src: url(fonts/Inter-Regular.ttf);
}

h1,
h2,
h3 {
    font-family: poppins;
    font-weight: bold;
}

p {
    font-family: inter;
}

.logo-header {
    width: 150px;
}

.hero-image {
    max-width: 450px;
}